DB_USER=utente_postgres
DB_PASSWORD=password_postgres
DB_HOST=localhost
DB_PORT=porta_postgres

CLOUDINARY_CLOUD_NAME=id_cloudinari
CLOUDINARY_API_KEY=chiave_api_cloudinary
CLOUDINARY_API_SECRET=chiave_segreta_cloudinary

DJANGO_SETTINGS_MODULE=project.settings
python_files=tests.py test_*.py *_tests.py
SECRET_KEY=chiave_segreta_di_django

TELEGRAM_BOT_TOKEN=token_di_telegram